DATABASE_URL=postgres://postgres:postgres@db:5432/nethub?sslmode=disable
BACKEND_URL=http://localhost:8000

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@db:5432/nethub?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations

